@import url('https://fonts.googleapis.com/css2?family=Ysabeau+SC&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

/* @font-face {
  font-family: "monogram";
  src: url("../assets/fonts/monogram.ttf");
} */

.btn-con{
  background-color: #d7f7a0;
  color: black;
}

.btn-res{
  background-color: #f7a0a0;
  color: black;
}

.coinFlex{
  display: flex;
  margin: 0px  1.25rem 0px  1.25rem;
}

.coin{
  filter: invert(42%) sepia(93%) saturate(1352%) hue-rotate(17deg) brightness(119%) contrast(99%);
  width: 35px;
}

.text-primary{
  color: #d7f7a0 !important;
}

body {
  font-family: 'Ysabeau SC', sans-serif !important;
  color: #f98595 !important;
  background-color: #2e3e64 !important;
  @apply bg-bg font-monogram  flex justify-center m-0 p-0
}

#dealerHand div:nth-child(5) {
  @apply left-10
}

#dealerHand div:nth-child(6) {
  @apply left-28
}

#dealerHand div:nth-child(7) {
  @apply left-44
}

#dealerHand div:nth-child(8) {
  @apply left-60
}

#playerHand div:nth-child(5), {
  @apply left-10
}

#playerHand div:nth-child(6) {
  @apply left-36
}

#playerHand div:nth-child(7) {
  @apply left-64
}

/* 

#playerHand div:nth-child(3) {
  @apply z-10 -ml-6 -rotate-3
}

#playerHand div:nth-child(4) {
  @apply z-20 -ml-6 rotate-3
}

#playerHand div:last-child {
  @apply z-50 mt-4 rotate-12 -ml-6
} */